#clients {
  @media (max-width: 1399px) {
    display: none;
  }

  background-color: var(--color-background-grey);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    padding-top: 4rem;

    .quotes-box {
      margin: 1.5rem;
      background-color: var(--color-wite);
      border: none;
      padding: 2rem;
      border-radius: 8px;
      height: auto;
      width: 580px;
    }
    .client-h2 {
    }

    .quotes-icon {
      position: relative;
      top: -60px;
      left: -10px;
    }

    .rating {
    }
    .icon {
      padding-top: 1.5rem;
    }

    .client-name {
      font-weight: bold;
    }

    .client-class {
    }
  }
}
